// Colors

// Primary

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$brightBlue02: hsl(245, 75%, 52%,0.5);

// Neutral

$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$white : #ffffff;

// Fonts

$paraFontSize : 16px ;

* {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $paleBlue;
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@import "./card";